<nav id="NavBar">
    <a>HOME</a>
    <a>ARTICLES</a>
    <a>PORTFOLIO</a>
    <a>ABOUT</a>
    <a>CONTACT</a>
</nav>

<section id="EventTypesInfo">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/design_128.png?raw=true">
                <h3>Design</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/code_128.png?raw=true">
                <h3>Code</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img
                    src="https://github.com/Jhonierpc/WebDevelopment/blob/master/CSS%20Card%20Hover%20Effects/img/launch_128.png?raw=true">
                <h3>Launch</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis
                    provident at.</p>
            </div>
        </div>
    </div>
</section>

<section id="CreateEvent">
    <div class="container">
        <form id="contact" >
            <h3>Create Events</h3>
            <fieldset>
                <input placeholder="Event Name" id="Name" type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Description" id="Description" type="text" tabindex="2" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="button" id="contact-submit">Submit</button>
            </fieldset>
        </form>
    </div>
</section>

<section id="cards-wrapper">

</section>

<section id="EventTypes">
    <div class="SEWrapper">
        <h1>Search Events</h1>
        <div class="SECols" id="SECols">
        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="javascripts/EventDisplayer.js"></script>