<!DOCTYPE html>
<html>
  <head>
     
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="625539905136-pviljipau74b5r04n62gomo665in2j45.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
