<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="../stylesheets/NavBar.css">
    <link rel="stylesheet" href="../stylesheets/EventTypesInfo.css">
    <link rel="stylesheet" href="../stylesheets/EventTypes.css">
    <link rel="stylesheet" href="../stylesheets/CreateEventForm.css">
    <link rel="stylesheet" href="../stylesheets/EventDisplayer.css">

  </head>
  <body>
    {{{body}}}
  </body>
</html>
