body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/* Google Button */
.g-signin2 {
  margin-top: -3%;
  margin-left: 93%;

}
/* Google Data */
.data{
  display:none;
}