@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Quicksand";
}

li, a{
    display: inline-block;
    text-decoration:none;
    color:#6ba292;
    transition: all 0.2s ease 0s;
    padding: 0px 20px;
    font-size: 16px;
}

a:hover{
    color: #bcd8b7;
}

nav div{
    color: #6ba292;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.logo h1{
    padding: 0px 15px;
}

hr{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: none;
    height: 1px;
    background: linear-gradient(90deg, rgba(188,216,183,0) 0%,
                                       rgba(188,216,183,0.798739564185049) 3%,
                                       rgba(188,216,183,0.9) 6%,
                                       rgba(188,216,183,1) 15%,
                                       rgba(188,216,183,1) 85%,
                                       rgba(188,216,183,0.9) 94%,
                                       rgba(188,216,183,0.8) 97%,
                                       rgba(188,216,183,0) 100%);
}

.home{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: auto;
    margin-top: 2%;
}

.g-signin2{
    margin-left: 5%;
    margin-top: 2%;
}