 <nav>
     <div class="logo">
        <img src="..\images\logo.png" alt="Logo" width="30" height="30">
        <h1>{{title}}</h1>
     </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <ul class="nav-user">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
 </nav>

<div class="main">
    <img src="../images/group.jpg" alt="Group image">
    <div>
        <h1>{{title}}</h1>
        <p>Making people come together to enjoy their hobbies.</p>
        <p>Quick and easy.</p>
    </div>
</div>


