 <nav>
     <div class="logo">
        <img src="..\images\logo.png" alt="Logo" width="30" height="30">
        <h1>{{title}}</h1>
     </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <ul class="nav-user">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
 </nav>

<div class="main">
    <img src="../images/group.jpg" alt="Group image">
    <div>
        <h1>{{title}}</h1>
        <p>Making people come together to enjoy their hobbies.</p>
        <p>Quick and easy.</p>
    </div>
</div>

<div class="container">
    <div>
        <h2 class="containertext">Routines</h2>
        <img src="../images/routines.jpg" alt="Routine image">
        <p>Events that are on a shedule. Use this to get together with other people.</p>
    </div>
    <div>    
        <h2 class="containertext">One-Time</h2>
        <img src="../images/onetime.jpg" alt="One-Time image">
    </div>
    <div>    
        <h2 class="containertext">Workshops</h2>
        <img src="../images/workshops.jpg" alt="Routine image">
    </div>

</div>

<div class="contact">
    <h3>Contacts:</h3>
    <ul>
        <li><a href="https://outlook.live.com/owa/">Bruno Ramos</li>
        <li><a href="https://www.google.com/intl/pt-PT/gmail/about/#">Manuel Beijinho</li>
    </ul>
</div>


