 <nav>
     <div class="logo">
        <img src="Logo.jpg" alt="Logo" height="10" width="20">
        <h1>Group Up</h1>
     </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>

    <ul class="nav-user">
        <li><a href="#">Log in</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
 </nav>



